@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

*,
::after,
::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --grey-color: rgb(129, 125, 125);
  --white-color: #fff;
  --black: rgb(41, 34, 34);
}
body {
  font-family: "Rubik", sans-serif;
  height: auto;
  width: 100%;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.whole-project {
  position: relative;
  height: 700px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 8px;
}
body .bgdiv {
  position: relative;
  width: 100%;
  height: 250px;
}
body .bgdiv > img {
  width: 100%;
  height: 100%;
}
body #map {
  position: relative;
  height: 400px;
}
.content {
  position: absolute;
  width: 100%;
  max-width: 1000px;
  z-index: 1000;
  top: 20px;
  left: 0%;
  right: 0%;
  margin: 0 auto;
}
.overlaydiv {
  position: relative;
  width: 90%;
  height: auto;
  padding-bottom: 20px;
  margin: 0 auto;
}
.overlaydiv h1 {
  color: var(--white-color);
  text-align: center;
  margin-top: 10px;
}
.overlaydiv div {
  width: 280px;
  padding-right: 20px;
  border-right: 1px solid var(--grey-color);
}
.overlaydiv div:last-child {
  border: none;
}
.overlaydiv .inputDiv {
  width: 550px;
  margin: 20px auto 0px;
  border: none;
  padding: 0px;
}
.overlaydiv .inputDiv input,
.overlaydiv .inputDiv button {
  height: 50px;
}

.overlaydiv .inputDiv input {
  width: 85%;
  padding-left: 20px;
  border-top: 20px;
  border-left: 20px;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
}
.overlaydiv .inputDiv .error {
  font-size: 20px;
  color: red;
  margin-top: 10px;
  transition: transform 1s;
}
.hide {
  display: none;
}
.overlaydiv .inputDiv button > svg {
  color: var(--white-color);
}

.overlaydiv .inputDiv > input::placeholder {
  color: var(--grey-color);
  font-size: 20px;
  font-weight: 500;
}
.overlaydiv .inputDiv button {
  width: 15%;
  background-color: var(--black);
  margin-left: -2%;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  cursor: pointer;
}
.overlaydiv .displaydiv {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 20px 10px;
  background-color: var(--white-color);
  margin: 20px auto 0px;
  border-radius: 10px;
}
.displaydiv div {
  text-align: left;
  margin-left: 30px;
}
.displaydiv h4 {
  color: var(--grey-color);
  font-weight: 600;
}
.displaydiv h2 {
  margin-top: 15px;
}
.attribution {
  font-size: 20px;

  text-align: center;
  font-style: 20px;
  color: hsl(228, 45%, 44%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
@media (max-width: 1024px) {
  body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }
  .whole-project {
    width: 100%;
    height: 100vh;
  }
  body .bgdiv {
    width: 100%;
  }
  body #map {
    width: 100%;
  }

  .content {
    width: 100%;
    top: 3%;
  }
  .overlaydiv .displaydiv {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  body {
    width: 100%;
    height: auto;
  }
  .whole-project {
    width: 90%;
  }
  body .bgdiv {
    height: 250px;
  }

  body #map {
    height: 500px;
  }
  .content {
    /* border: 2px solid red; */

    top: 20px;
  }
  .overlaydiv {
    width: 90%;
  }

  .overlaydiv .inputDiv {
    width: 60%;
    flex-direction: column;
    margin-top: 20px;
  }

  .overlaydiv .displaydiv {
    width: 65%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px;
    align-items: center;
    gap: 10px;
    /* margin-bottom: 15px; */
  }
  .overlaydiv div {
    border: none;
  }
  .displaydiv div {
    text-align: center;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .content {
    top: 50px;
  }
  body #map {
    height: 600px;
  }
}
@media (max-width: 600px) {
  .content {
    top: 10px;
  }
  .overlaydiv .displaydiv {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body #map {
    height: 500px;
  }
}
@media (max-width: 450px) {
  body {
    height: 100vh;
    width: 100%;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  .content {
    top: 30px;
  }
  body #map {
    height: 62vh;
  }

  .overlaydiv .displaydiv {
    width: 90%;
    margin-top: 20px;
    padding-left: 15px;
  }
  .overlaydiv .inputDiv button {
    margin-left: -2%;
  }
  .overlaydiv .inputDiv {
    width: 75%;
    margin-top: 20px;
  }
  .overlaydiv .inputDiv input,
  .overlaydiv .inputDiv button {
    height: 50px;
  }
  .overlaydiv h1 {
    font-size: 25px;
  }
  body .bgdiv {
    height: 30vh;
  }
}

@media (max-width: 320px) {
  body {
    height: 800px;
  }
  .whole-project {
    height: 100%;
  }
  body #map {
    height: 500px;
  }
  body .bgdiv {
    height: 230px;
  }
  .content {
    top: 30px;
  }

  .overlaydiv .displaydiv {
    width: 90%;
    gap: 5px;
  }

  .overlaydiv .inputDiv {
    width: 90%;
  }
  .displaydiv h4 {
    font-size: 18px;
  }
  .displaydiv h2 {
    font-size: 16px;
  }
}
